apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: k8s-lab
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Rivce06/DevOps_Project_Portfolio.git
    targetRevision: HEAD
    path: manifests/base
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true